@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Bold.eot');
  src: url('../fonts/source-sans-pro/SourceSansPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source-sans-pro/SourceSansPro-Bold.woff2') format('woff2'),
  url('../fonts/source-sans-pro/SourceSansPro-Bold.woff') format('woff'),
  url('../fonts/source-sans-pro/SourceSansPro-Bold.ttf') format('truetype'),
  url('../fonts/source-sans-pro/SourceSansPro-Bold.svg#SourceSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.eot');
  src: url('../fonts/source-sans-pro/SourceSansPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source-sans-pro/SourceSansPro-Regular.woff2') format('woff2'),
  url('../fonts/source-sans-pro/SourceSansPro-Regular.woff') format('woff'),
  url('../fonts/source-sans-pro/SourceSansPro-Regular.ttf') format('truetype'),
  url('../fonts/source-sans-pro/SourceSansPro-Regular.svg#SourceSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-SemiBold.eot');
  src: url('../fonts/source-sans-pro/SourceSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source-sans-pro/SourceSansPro-SemiBold.woff2') format('woff2'),
  url('../fonts/source-sans-pro/SourceSansPro-SemiBold.woff') format('woff'),
  url('../fonts/source-sans-pro/SourceSansPro-SemiBold.ttf') format('truetype'),
  url('../fonts/source-sans-pro/SourceSansPro-SemiBold.svg#SourceSansPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Light.eot');
  src: url('../fonts/source-sans-pro/SourceSansPro-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source-sans-pro/SourceSansPro-Light.woff2') format('woff2'),
  url('../fonts/source-sans-pro/SourceSansPro-Light.woff') format('woff'),
  url('../fonts/source-sans-pro/SourceSansPro-Light.ttf') format('truetype'),
  url('../fonts/source-sans-pro/SourceSansPro-Light.svg#SourceSansPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-LightItalic.eot');
  src: url('../fonts/source-sans-pro/SourceSansPro-LightItalic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source-sans-pro/SourceSansPro-LightItalic.woff2') format('woff2'),
  url('../fonts/source-sans-pro/SourceSansPro-LightItalic.woff') format('woff'),
  url('../fonts/source-sans-pro/SourceSansPro-LightItalic.ttf') format('truetype'),
  url('../fonts/source-sans-pro/SourceSansPro-LightItalic.svg#SourceSansPro-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/source-sans-pro/SourceSansPro-Italic.eot');
  src: url('../fonts/source-sans-pro/SourceSansPro-Italic.eot?#iefix') format('embedded-opentype'),
  url('../fonts/source-sans-pro/SourceSansPro-Italic.woff2') format('woff2'),
  url('../fonts/source-sans-pro/SourceSansPro-Italic.woff') format('woff'),
  url('../fonts/source-sans-pro/SourceSansPro-Italic.ttf') format('truetype'),
  url('../fonts/source-sans-pro/SourceSansPro-Italic.svg#SourceSansPro-Italic') format('svg');
  font-weight: normal;
  font-style: italic;
}