$font-family: 'Source Sans Pro';

$primary-color: #1a1a1a;
$secondary-color: #999999;
$primary-light-color: #ffffff;
$secondary-light-color: #999999;
$highlight-color: #008ed6;
$border-color: #e1e1e1;